    
{% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
 

{% block content %} 
    <!-- content section  -->
    <div class="container product">
      <h1 class="text-center">{{categ.brand}}</h1>
      <div class="row mt-5 mb-3">
        
        {% if carbrand %}
        {% for item in carbrand %}
        <div class="col-12 col-md-6 col-lg-4 pt-3">
          <div class="card text-center" >
            <a href="{% url 'detail' item.id item.slug %}"><img src="{{item.picture.url}}" class="card-img-top" alt="..." style="height: 250px;"></a>
            <div class="card-body">
              <h5 class="card-title">{{item.name|title}}</h5>
              <p class="card-text">₦{{item.price}}</p>
              <form action="{% url 'add_to_cart' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="carid" value="{{item.id}}">
                <button type="submit" class="btn btn-warning">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}   
        {% endif %}
      </div>
    </div>
    <!-- content section done -->
    {% endblock content %}
    {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    
      