    
    {% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
 

{% block content %} 
    <!-- content section  -->
    <div class="container product">
      <h1 class="text-center">all products</h1>
      <div class="row mb-5 mt-5">
        <div class="card  container  detail" style="max-width: 700px;">
          <div class="row g-0">
            <div class="col-md-6 det">
              <img src="{{cardet.picture.url}}" class="img-fluid rounded-start" alt="...">
              <ul class="list-unstyled">
                <li><i class="bi bi-car-front-fill"></i></li>
                <li><i class="bi bi-fuel-pump-diesel-fill"></i></li>
                <li><i class="bi bi-speedometer"></i></li>
              </ul>
            </div>
            <div class="col-md-6 ">
              <div class="card-body">
                <h5 class="card-title text-center pb-3 text-warning">{{cardet.name|title}}</h5>
                <p class="card-text"><span>model:</span>{{cardet.model}}</p>
                <p class="card-text"><span>year:</span>{{cardet.year}}</p>
                <p class="card-text"><span>color:</span>{{cardet.color}}</p>
                <p class="card-text"><span>seat:</span>{{cardet.seat}}</p>
                <p class="card-text"><span>registered:</span>{{cardet.registered}}</p>
                <div class="text-center but">
                  <p>₦{{cardet.price}}</p>
                  <form action="{% url 'add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="carid" value="{{cardet.id}}">
                    <button type="submit" class="btn btn-warning">Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- content section done -->
    {% endblock content %}
    {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    
      