<div class="mt-5">
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <div class="pt-3">
            <img src="{{info.logo.url}}" alt="" style="width: 200px;">
            <h2>we are making waves</h2>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>category</h2>
          <ul class="list-unstyled text-capitalize">
            <li><a href="/mercerdes.html">benz</a></li>
            <li><a href="/honda.html">honda</a></li>
            <li><a href="/toyota.html">toyota</a></li>
            <li><a href="/lexus.html">lexus</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>quick link</h2>
          <ul class="list-unstyled">
            <li><a href="/index.html">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="/product.html">product</a></li>
            <li><a href="/contact.html">contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>follow us</h2>
          <ul class="list-unstyled">
            <li><a href=""><i class="bi bi-facebook"></i>facebook</a></li>
            <li><a href=""><i class="bi bi-twitter"></i>twitter</a></li>
            <li><a href=""><i class="bi bi-instagram"></i>instagram</a></li>
            <li><a href=""><i class="bi bi-tiktok"></i>tiktok</a></li>
          </ul>
        </div>
        <div class="row text-center footer2">
          <div class="col-12">
            <p>&copy;copyright 2022 slickboom | all right reserved | developed by slickboom</p>
          </div>
        </div>
      </div>
    </div>
  </div>