    
{% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
 

{% block content %} 
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-4 left">
      <img src="{{userprof.pix.url}}" alt="" style="height: 150px;">
      <h4>{{userprof.user}}</h4>
      <ul class="list-unstyled">
        <h2>quick link</h2>
        <li><a href="{% url 'profile' %}"><i class="bi bi-caret-right-fill"></i>profile</a></li>
        <li><a href="{% url 'profile_update' %}"><i class="bi bi-caret-right-fill"></i>profile update</a></li>
        <li><a href="{% url 'password_update' %}"><i class="bi bi-caret-right-fill"></i>password update</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-8 right">
      <form action="{% url 'password_update' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">update</button>
      </form>
    </div>
  </div>
 </div>
  <!-- content section done -->
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
  
      